@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body {
    font-family: 'Sniglet', cursive;
    margin: 0%;
}

header{
    color: #fff;
    background-color: #e4a2a4;
    padding: 24px;
    margin-bottom: 16px;
}

.container {
    margin-top: 16px;
    margin-bottom: 16px;
    margin: auto;
    width: 60%;
    border: 2px solid #e4a2a4;
    border-radius: 16px;
    padding: 16px;
}

footer {
    background-color: #e4a2a4;
    color: #fff;
    padding: 38px;
    margin-top: 16px;
}
